*{
	padding: 0;
	margin:0;
	outline: none;
}

div.navbar {
	background-color: darkorange;
	height: 100px;
}

img {
	height: 100px;
	width: 80px;
	float: left;
}

h1 {
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: -18px;
	color: white;
	font-family: 'Muli' , sans-serif;
}

.navbar h1 span {
	font-weight: lighter;
}

ul {
	float: right;
}

li {
	display: inline-block;
	margin-top: 40px;
	margin-right: 50px;
}

a {
	text-decoration: none;
	font-family: 'Muli' , sans-serif;
	font-weight: bold;
	color: white;
}

input {
	float: right;
	margin-right: 50px;
	background-color: silver;
	border: none;
	height: 50px;
	width: 230px;
	margin-top: 3px;
	padding-left: 20px;
}

.oranges img {
	height: 450px;
	width: 40%;
	margin-top: 100px;
	margin-left: 30px;
}

div.bih {
	float: right;
	color: orange;
	margin-top: 140px;
	margin-right: 90px;
	width: 50%;
	font-size: 44px;
	font-weight: lighter;
}

span.wtf {
	font-weight: bolder;
	color: darkorange;
}

span.web {
	color: darkcyan;
	font-weight: bolder;
}

span.app {
	color: darkcyan;
	font-weight: bolder;
}

p {
	padding-bottom: 25px;
}

button {
	display: inline-block;
}

button.one {
	background-color: darkorange;
	color: white;
	border: none;
	width: 260px;
	padding: 20px 60px;
	font-size: 16px;
	margin-left: 5px;
}

button.two {
	background-color: darkcyan;
	color: white;
	border: none;
	width: 260px;
	padding: 20px 60px;
	margin-left: 50px;
	font-size: 14px;
}

.footer {
	background-color: darkcyan;
	width: 100%;
	height: 70px;
	margin-top: 550px;
	bottom: 0;
	position: absolute;
}

@media only screen and (max-width: 1245px) {
	div.bih {
		font-size: 40px;
	}
	
	.oranges img {
		width: 35%;
		height: 400px;
		margin-top: 130px;
		margin-left: 80px;
	}

@media only screen and (max-width: 1170px) {
	button.two {
		margin-left: 10px;
	}

	div.bih button {
		padding: 15px 10px;
		width: 180px;
	}
}

@media only screen and (max-width: 1134px) {
	div.bih {
		font-size: 38px;
		margin-right: 100px;
	}

	div.bih button {
		width: 160;
		font-size: 12px;
	}

	.oranges img {
		width: 220px;
		height: 220px;
		margin-top: 190px;
		margin-left: 100px;
	}
}

@media only screen and (max-width: 1000px) {
	div.bih {
		margin-top: 200px;
	}

	.oranges img {
		margin-top: 270px;
	}

	a {
		font-size: 12px;
	}

	li {
		margin-right: 25px;
	}
}

@media only screen and (max-width: 900px) {
	.oranges img {
		display: none;
	}

	div.bih {
		margin-left: 200px;
		width: 600px;

	}
}

@media only screen and (max-width: 800px) {
	div.bih {
		margin-left: 300px;
		width: 500px;
	}
}

@media only screen and (max-width: 700px) {
	div.bih {
		margin-right: 75px;
	}

	a {
		font-size: 10px;
	}

	li {
		margin-right: 15px;
	}
}








